<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Headache Prediction Sysyem</title>
	<link rel="stylesheet" href="./../static/home.css" />
	<link rel="shortcut icon" href="./../static/img/logo.png" />

	   <style>



.footer {
background-color: black ;
padding: 10px;
text-align: center;
color: white; 
}

</style>

</head>
<body>

	<header>
		<div class="container">
			<div id="sitename">
				<img src="./../static/img/logo.png" alt="Site Logo" />
				<h1>Headache Prediction System</h1>
			</div>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="#s" id="serv">Services</a></li>
					<li><a href="#a">About Us</a></li>
					<li><a href="index.html">Prediction</a></li>
				</ul>
			</nav>
		</div>
	</header>
	

	<section class="showcase">
		<div class="showtxt">
			<p>Need a Medical Support?</p>
			<p> We are here to help you for your headache.</p>
		</div>
	</section>


	<section class="welcometxt">
		<h2>Welcome to Headache Prediction Official Website, We provide solutions to your headache.</h2>
	<br><br>


	<section class="txt">
		<a name="s"><h3>We will support to you find your headache type.</h3></a>
	</section>


	<section class="services">
		<h1 class="head_title">Services</h1>
		<div class="description"> Our system is for an automated medical decision support system for the prediction of primary headaches. 

		<div class="contain_box">
			<br>


	

	
			<center>
			<div class="box">
				<center><img src="./../static/img/do.png" width="60px" height="60px" /></center>
				<p>Doctor Suggestion</p>
			</div>
			<div class="box">
				<center><img src="./../static/img/ex.png" width="60px" height="60px" /></center>
				<p> Exercise Suggestion</p>
			</div>
			
			
		</div>
	</section>


	<section class="txt">
		<a name="a"><h3>Want to know about us?</h3></a>
	</section>


	<section class="aboutus">
		<h1 class="head_title">About Us</h1>
		<div class="description">Our system helps in predicting the type of headache based on the symptoms.
 </div>
			
		<div class="VnMbox" >
			<center><img src="./../static/img/vision-icon.png" alt="" class="small_icon"></center>
			 <h1 class="title" >Our Vision</h1> 
			<p style="color:NAVY;">Many people are unaware of their headaches and do not seek treatment.
Headaches can have a severe negative impact on a person's professional and financial performance.
It can have an adverse effect on job choices, work productivity, and family and loved ones.
Our vision is to provide a solution for people who suffer from headaches on a regular basis, allowing them to determine what type of headache they have.
</p>
		</div>
		<div class="VnMbox">
			<center><img src="./../static/img/mission-icon.png" alt="" class="small_icon"></center>
			  <h1 class="title">Our Mission</h1>  
			<p style="color:NAVY;"> Our system assists in predicting the type of headache based on the symptoms. We will recommend available doctors in the area based on the projected headache type, as well as what patients should and shouldn't do, as well as the best exercise types for the predicted headache type.
</p>
		</div>
	</section><br><br>
	<div class="footer">
	
      <br><p>Copyright &copy; 2019, Headache Prediction System.</p> </br> 
      
    </div>

</body>
</html>